---
layout: none
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Hydraulisc</title>
    <meta property="og:title" content="About | Hydraulisc Network">
    <meta property="og:description" content="The Hydraulisc Network">
    <meta property="og:image" content="/assets/img/Foss-Hydraulisc.png">
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/144374735">
    <meta name="description" content="Discover Amazing apps by Incredible Developers, on The Hydraulisc Network">
    <meta property="og:site_name" content="The Hydraulisc Suite">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link rel="preload" href="https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="preload" href="https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="stylesheet" href="styles.css">
</head>
<body class="darkTheme">
  {% include header.html %}
    <div class="notice_container" tabindex="-1">
      <div class="notice_title" tabindex="-1">
          <p>Blog has moved to <a href="http://blog.hydraulisc.net" target="_blank" tabindex="-1">blog.hydraulisc.net</a></p>
      </div>
  </div>
    <div class="body_container">
        <div class="body_title_container">
            <div class="body_title">
              <div style="text-align: center; margin-top: 3rem;">
                <h1 style="margin: 0 !important; font-size: xxx-large;">Stay in the loop, with Hydraulisc.</h1>
                <h2 style="margin-left: 0 !important; margin-top: 1rem;">Free, Open Source, Social Networking, like never before.</h2>
              </div>
            </div>
        </div>
        <div class="welcome_grid">
          <a href="/platforms">
            <div class="welcome_grid_item">
              <h3>Platforms</h3>
              <p>Learn which platforms The Hydraulisc Network consists of.</p>
              <p style="color: #89b4fa; text-decoration: underline;">Read more &gt;</p>
            </div>
          </a>
          <a href="/help/articles/101005">
            <div class="welcome_grid_item">
              <h3>Privacy</h3>
              <p>Learn how Hydraulisc works to keep your privacy private.</p>
              <p style="color: #89b4fa; text-decoration: underline;">Read more &gt;</p>
            </div>
          </a>
          <a href="/help/articles/101011">
            <div class="welcome_grid_item">
              <h3>Why Hydraulisc?</h3>
              <p>Compare Hydraulisc Platforms to popular alternatives.</p>
              <p style="color: #89b4fa; text-decoration: underline;">Read more &gt;</p>
            </div>
          </a>
        </div>
        <section style="display: block; width: 100%;">
          <div class="boody">
            <h3 style="font-size: x-large;">Hydraulisc Network Documentation now available!</h3>
            <p style="font-size: large;">Clone, setup, secure, manage. Learn through delicately curated self-hosting guides, with expertly-crafted documentation, for your own instances of The Hydraulisc Network Platforms.</p>
            <a href="/docs" class="boody_linker">Go to Documentation &gt;</a>
          </div>
        </section>
        <section>
          <div class="fossify_module">
            <h2 style="margin-left: 0; font-size: xx-large;">Proud to be <a href="https://github.com/orgs/Hydraulisc/repositories" tabindex="-1">Open Source</a></h2>
            <p>The Hydraulisc Network curates <a href="/platforms/" tabindex="-1">a list</a> of <a href="https://wikipedia.org/wiki/Free_and_open-source_software" target="_blank" tabindex="-1">Free and Open Source Software</a>.</p>
          </div>
        </section>
        <section>
          <div style="width: 50%; margin: 3rem auto 0;">
            <h3 style="margin-left: 0; font-size: x-large;">Questions? Feel free to reach out!</h3>
            <p>Find us on <a href="https://discord.gg/Syn5GVDemH" target="_blank" tabindex="-1">Discord</a></p>
          </div>
        </section>
        <hr style="margin-top: 6rem;">
        {% include footer.html %}
    </div>
    <script src="script.js"></script>
</body>
</html>