a {
    color: #79e6ff;
}

img {
    object-fit: cover;
    overflow: hidden;
    cursor: default;
}

.darkTheme {
    background: black;
    color: white;
}

.lightTheme {
    background: white;
    color: black;
}

.info {
    font-weight: 600;
    max-width: 100%;
    width: 90%;
    border-left: 4px solid rgb(250, 250, 0);
    background: rgb(0, 0, 0);
    padding: 10px 9px 6px 10px;
    border-radius: 6px;
}

.header_container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    min-width: 100%;
    min-height: 44px;
}

.header_title {
    position: relative;
    left: 16px;
    margin-right: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: default;
    height: 44px;
}

.header_logo {
    max-width: 100%;
    height: 44px;
}

.header_drop1 {
    margin: 175px auto;
    position: relative;
    width: 10px;
    height: 10px;
    top: -14px;
    margin: 0 auto;
    background: #79e6ff;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-animation-name: drip;
    -webkit-animation-name: drip;
    animation-name: drip;
    -moz-animation-timing-function: cubic-bezier(1,0,.91,.19);
    -webkit-animation-timing-function: cubic-bezier(1,0,.91,.19);
    animation-timing-function: cubic-bezier(1,0,.91,.19);
    -moz-animation-duration: 3.2s;
    -webkit-animation-duration: 3.2s;
    animation-duration: 3.2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.header_drop2 {
    margin: 175px auto;
    position: relative;
    width: 10px;
    height: 10px;
    top: -23px;
    left: 21px;
    margin: 0 auto;
    background: #79e6ff;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-animation-name: drip;
    -webkit-animation-name: drip;
    animation-name: drip;
    -moz-animation-timing-function: cubic-bezier(1,0,.91,.19);
    -webkit-animation-timing-function: cubic-bezier(1,0,.91,.19);
    animation-timing-function: cubic-bezier(1,0,.91,.19);
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    animation-delay: 2.1s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.header_drop3 {
    margin: 175px auto;
    position: relative;
    width: 10px;
    height: 10px;
    top: -34px;
    left: -24px;
    margin: 0 auto;
    background: #79e6ff;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-animation-name: drip;
    -webkit-animation-name: drip;
    animation-name: drip;
    -moz-animation-timing-function: cubic-bezier(1,0,.91,.19);
    -webkit-animation-timing-function: cubic-bezier(1,0,.91,.19);
    animation-timing-function: cubic-bezier(1,0,.91,.19);
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    animation-delay: 4s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.header_drop1::before, .header_drop2::before, .header_drop3::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #79e6ff;
    top: -6px;
}

.header_nav {
    user-select: none;
    display: flex;
    position: absolute;
    right: 2px;
    height: 44px;
    width: 44px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.header_nav .menu-wrapper::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.header_nav .menu-wrapper.offcanvas .menu {
    transform: translate3d(0, 0, 0);
    transition-duration: 0.7s;
    transition-delay: 0.2s;
}

.header_nav .menu-wrapper.offcanvas::before {
    background: rgba(37, 42, 50, 0.6);
    z-index: 1;
}

.header_nav .menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: -16px;
    left: 0;
    bottom: -14px;
    max-width: 20rem;
    width: 100%;
    padding: 1.5rem 1rem;
    z-index: 2;
    overflow-y: auto;
    color: #252a32;
    background: black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.5s cubic-bezier(.68,-0.55,.27,1.55);
}

.header_nav .menu-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.header_nav .menu-link {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    line-height: inherit;
    text-transform: uppercase;
    transition: color 0.35s ease-out;
    color: #fff;
}

.header_nav .menu-link:hover, .header_nav .menu-item a:hover, .header_nav .menu-item.has-collapsible .menu-child .menu-child-item a:hover {
    color: #79e6ff;
}

.header_nav .menu-item {
    position: relative;
}

.header_nav .menu-item a {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    line-height: inherit;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    display: block;
    color: white;
    transition: color 0.35s ease-out;
    text-decoration: none;
}

.header_nav .menu-item.has-collapsible {
    position: relative;
}

.header_nav .menu-item.has-collapsible .menu-child {
    display: none;
}

.header_nav .menu-item.has-collapsible .menu-child .menu-child-item a {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    line-height: inherit;
    padding: 0.25rem;
    color: #ffffff;
    padding-left: 2.5rem;
    text-transform: uppercase;
    transition: color 0.35s ease-out;
}

.header_nav .menu-item.has-collapsible span::after {
    font-family: "Material Icons";
    content: "\2B9A";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: inherit;
    position: absolute;
    top: 0.15rem;
    right: 1rem;
    color: #ffffff;
    transition: all 0.35s ease;
}

.header_nav .menu-item.active.has-collapsible .menu-child {
    display: block;
    transition: all 0.35s ease;
}

.header_nav .menu-item.active.has-collapsible span::after {
    transform: rotate(90deg);
}

.open-menu, .close-menu {
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    background: none;
}

.close-menu {
    position: absolute;
    top: 0;
    right: 1rem;
    border: none;
    outline: none;
    color: #252a32;
    background: none;
}

.body_container {
    position: absolute;
    top: 65px;
    max-width: 100%;
    width: 99%;
}

@keyframes drip {
    to {
      top: 45px;
      opacity: 0;
    }
}