---
layout: none
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get to know the team behind Hydraulisc</title>
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/144374735">
    <link rel="stylesheet" href="../styles.css">
</head>
<body class="darkTheme">
  {% include header.html %}
    <div class="body_container">
        <div class="body_title_container">
            <div class="body_title">
                <h1>Get to know the team behind The Hydraulisc Network</h1>
            </div>
        </div>
        <div class="info">
          <details>
            <summary>There may be the following exceptions from this list <span style="font-size: smaller; font-style: italic; color: #d7d9e0;">(spoiler, click to reveal)</span></summary>
            <ol>
                <li>Members or Contributors that wish not to be listed (for any reason whatsoever)</li>
                <li>One-time Contributors (no matter how large a contribution)</li>
                <li>Donators (be it one-time donations or recurring donations, anonymous or not, of any amount)</li>
                <li>Article Publishers (excluding HCSV paper Article Publishers)*</li>
            </ol>
            <p style="font-size: smaller; font-weight: normal;">*In the case of publishing a HCSV paper, point 1 still applies.</p>
          </details>
        </div>
        <div class="info">
          <details>
            <summary>There may be the following <i>issues</i> with this list <span style="font-size: smaller; font-style: italic; color: #d7d9e0;">(spoiler, click to reveal)</span></summary>
            <ul>
              <li>CDN/3rd party CDN outages/issues</li>
              <li>Cache/Caching issues</li>
              <li>Links submitted by the developers and/or testers listed below may be inaccessible or revoked/removed</li>
            </ul>
          </details>
        </div>
        <div class="boody">
          <h3 id="developers">Developers</h3>
          <div class="welcome_grid">
            <!-- Sample ! -->
            <div class="welcome_grid_item">
              <div class="profile_template_context">
                <img src="https://avatars.githubusercontent.com/u/143962821" style="width: 42px; height: 42px; border-radius: 50%;">
              </div>
              <p>SleepingAmi</p>
              <p><a href="https://sleepingami.github.io" target="_blank" rel="noopener noreferrer">Website</a> <a href="https://discord.gg/wDhRwkFPBJ" target="_blank" rel="noopener noreferrer">Discord Server</a></p>
            </div>
            <!-- End Sample ! -->
            <div class="welcome_grid_item">
              <div class="profile_template_context">
                <img src="https://avatars.githubusercontent.com/u/90527370" style="width: 42px; height: 42px; border-radius: 50%;">
              </div>
              <p>TallerThanShort</p>
              <p><a href="https://tallerthanshort.is-a.dev" target="_blank" rel="noopener noreferrer">Website</a> <a href="https://discord.gg/y2GzGmauGK" target="_blank" rel="noopener noreferrer">Discord Server</a></p>
            </div>
            <div class="welcome_grid_item">
              <div class="profile_template_context">
                <img src="https://hydraulisc.net/avatars/a745b2860b39e8d1c74be43ef21472f4" style="width: 42px; height: 42px; border-radius: 50%;">
              </div>
              <p>Arkarivs</p>
              <p><a href="https://hydraulisc.net/user/19" target="_blank" rel="noopener noreferrer">Hydraulisc</a></p>
            </div>
          </div>
          <h3 id="testers">Testers & Bug Hunters</h3>
          <div class="welcome_grid">
            <div class="welcome_grid_item">
              <div class="profile_template_context">
                <img src="https://cdn.sooox.cc/LiPNG4QxQXNw.png" style="width: 42px; height: 42px; border-radius: 50%;">
              </div>
              <p>Owlly</p>
              <p><a href="https://owlly.xyz" target="_blank" rel="noopener noreferrer">Website</a> <a href="https://discord.gg/KNa7xAZ2xH" target="_blank" rel="noopener noreferrer">Discord Server</a></p>
            </div>
            <div class="welcome_grid_item">
              <div class="profile_template_context">
                <img src="https://cdn.sooox.cc/pfp_transformed-dWIEunjZkZ4w.jpeg" style="width: 42px; height: 42px; border-radius: 50%;">
              </div>
              <p>Sooox</p>
              <p><a href="https://sooox.cc" target="_blank" rel="noopener noreferrer">Website</a> <a href="https://github.com/sooox-cc" target="_blank" rel="noopener noreferrer">Github</a></p>
            </div>
            <div class="welcome_grid_item">
              <div class="profile_template_context">
                <img src="https://hydraulisc.net/img/f1b5f25fa19d97d7b8eb458cbe4c9436.jpg" style="width: 42px; height: 42px; border-radius: 50%;">
              </div>
              <p>PlutarianReal123</p>
              <p></p>
            </div>
          </div>
        </div>
        <hr style="margin-top: 6rem;">
        {% include footer.html %}
    </div>
    <script src="../script.js"></script>
</body>
</html>