<div style="margin-top: 2.4rem; width: 100% !important;">
    <div class="mobileresizemefooter">
      <img src="/assets/icons/footer-badge.png" style="height: auto; width: fit-content; cursor: pointer !important;" loading="lazy">
      <p>Documentation hosted on <a href="https://pages.github.com/" target="_blank" tabindex="-1">GitHub Pages</a>. <a href="https://github.com/Hydraulisc/hydraulisc.github.io/pulls" target="_blank" tabindex="-1">Contribute Directly on GitHub</a>. Made with Ɛ&gt; by The Hydraulisc Team, proof-read, maintained and fact checked by our incredible <a href="https://github.com/Hydraulisc/hydraulisc.github.io/graphs/contributors" target="_blank" tabindex="-1">Contributors</a>.</p>
    </div>
    <div style="text-align: center;">
      <p>Site made with a modified version of the <a href="https://github.com/catppuccin/catppuccin" target="_blank" tabindex="-1">Catppuccin mocha theme</a>.</p>
      <p>The <a href="https://github.com/catppuccin/" target="_blank" tabindex="-1">Catppuccin themes</a> and the <a href="https://github.com/catppuccin/catppuccin" target="_blank" tabindex="-1">Catppuccin mocha theme</a> are licenced under the <a href="https://github.com/catppuccin/catppuccin/blob/main/LICENSE" target="_blank" tabindex="-1">MIT License</a>, which allows for Public, Private and Commercial Use, Distribution, and Modification.</p>
    </div>
  </div>