<button class="hamburger" id="hamburger">&#9776;</button>
<aside class="sidebar" id="sidebar">
    <h2>API</h2>
    <nav>
    <ul>
        <li><a href="#index">Return to Start</a></li>
        <li><a href="#global-ratelimits">Global API Ratelimits</a></li>
        <li><a href="#fetching-user-data">Fetch User Data</a></li>
        <li><a href="#user-info">Fetching User Profiles</a></li>
        <li><a href="#user-posts">Fetching User Posts</a></li>
        <!-- <li><a href="#faq">FAQ</a></li> -->
    </ul>
    </nav>
</aside>